<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzj.core.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.yzj.core.entity.po.Message">
        <constructor>
            <idArg column="msg_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="is_display" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="is_active" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.yzj.core.entity.po.Message">
        <constructor>
            <idArg column="msg_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="is_display" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="is_active" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="description" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    msg_id, title, create_time, update_time, create_by, update_by, is_display, is_active, 
    status
  </sql>
    <sql id="Blob_Column_List">
    description
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from message
        where msg_id = #{msgId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where msg_id = #{msgId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yzj.core.entity.po.Message">
    insert into message (msg_id, title, create_time, 
      update_time, create_by, update_by, 
      is_display, is_active, status, 
      description)
    values (#{msgId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{updateBy,jdbcType=INTEGER}, 
      #{isDisplay,jdbcType=BIT}, #{isActive,jdbcType=BIT}, #{status,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yzj.core.entity.po.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                msg_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="isDisplay != null">
                is_display,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                #{msgId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="isDisplay != null">
                #{isDisplay,jdbcType=BIT},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yzj.core.entity.po.Message">
        update message
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="isDisplay != null">
                is_display = #{isDisplay,jdbcType=BIT},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where msg_id = #{msgId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yzj.core.entity.po.Message">
    update message
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      is_display = #{isDisplay,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.yzj.core.entity.po.Message">
    update message
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      is_display = #{isDisplay,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
    <!-- 查询针对学生的公告 -->
    <select id="selectForStu" resultType="message">
	    select *
	    from message
	    where (status = '0' or status = '2')
	    and (is_active = '1')
	    and (is_display = '1')
	    order by create_time desc
    </select>
    <!-- 查询针对教师的公告 -->
    <select id="selectForTch" resultType="message">
	    select *
	    from message
	    where (status = '1' or status = '2')
	    and (is_active = '1')
	    and (is_display = '1')
	    order by create_time desc
    </select>
    <!-- 查询正上线的通知 -->
    <select id="selectInDoing" resultType="message">
    SELECT * FROM message WHERE is_display ='1' AND is_active ='1'
    </select>
    <!-- 查询已下线的通知 -->
    <select id="selectInDone" resultType="message">
        SELECT * FROM message WHERE is_display ='0' AND is_active ='0'
        <!-- 执行分页查询 -->
        <if test="start != null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>
    <!-- 查询草稿 -->
    <select id="selectInDraft" resultType="message">
    SELECT * FROM message WHERE is_display ='0' AND is_active ='1'
    </select>

    <select id="selectDoneListCount" resultType="Integer">
         SELECT count(*) FROM message WHERE is_display ='0' AND is_active ='0'
    </select>

</mapper>