<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzj.core.dao.VITchCourseMapper">
  <resultMap id="BaseResultMap" type="com.yzj.core.entity.vo.TchCourse">
    <constructor>
      <arg column="cors_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="semester" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tch_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cdtl_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cdtl_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="credit_hour" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nature" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="campus_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attribution" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.yzj.core.entity.vo.TchCourse">
    insert into tch_course_list (cors_id, semester, tch_id, 
      cdtl_id, status, cdtl_name, 
      credit, credit_hour, nature, 
      campus_code, college, attribution
      )
    values (#{corsId,jdbcType=INTEGER}, #{semester,jdbcType=VARCHAR}, #{tchId,jdbcType=INTEGER}, 
      #{cdtlId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{cdtlName,jdbcType=VARCHAR}, 
      #{credit,jdbcType=INTEGER}, #{creditHour,jdbcType=INTEGER}, #{nature,jdbcType=VARCHAR}, 
      #{campusCode,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{attribution,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yzj.core.entity.vo.TchCourse">
    insert into tch_course_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="corsId != null">
        cors_id,
      </if>
      <if test="semester != null">
        semester,
      </if>
      <if test="tchId != null">
        tch_id,
      </if>
      <if test="cdtlId != null">
        cdtl_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="cdtlName != null">
        cdtl_name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="creditHour != null">
        credit_hour,
      </if>
      <if test="nature != null">
        nature,
      </if>
      <if test="campusCode != null">
        campus_code,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="attribution != null">
        attribution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="corsId != null">
        #{corsId,jdbcType=INTEGER},
      </if>
      <if test="semester != null">
        #{semester,jdbcType=VARCHAR},
      </if>
      <if test="tchId != null">
        #{tchId,jdbcType=INTEGER},
      </if>
      <if test="cdtlId != null">
        #{cdtlId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cdtlName != null">
        #{cdtlName,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="creditHour != null">
        #{creditHour,jdbcType=INTEGER},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="campusCode != null">
        #{campusCode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="attribution != null">
        #{attribution,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByIdAndSemester" resultType="tchCourse">
    select * from tch_course_list where tch_id = #{id} and semester = #{semester}
  </select>
</mapper>